.connect-button {
  border-radius: 10px;
  cursor: pointer;
  padding: 12px 25px;
  background-color: #ffa74f;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  color: #000;
  font-weight: 600;
  font-size: 30px;

  display: flex;
  align-items: center;

  .connect-button-progress {
    margin-left: 10px;
    margin-top: 4px;
  }

  p {
    font-family: Montserrat SemiBold;
    font-weight: 600;
    font-size: 18px;
    color: #000;

    @media screen and (max-width: 599px) {
      font-size: 17px;
      font-weight: 300;
    }
  }

  @media screen and (max-width: 599px) {
    margin-top: -0.1em;

    padding: 3px 25px;
    background-size: cover;
  }
}
